Web Services/WebClient1/Connected Services/Infinite_Reference/WebInfiniteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHello">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Squareroot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SquarerootResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SquarerootResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SayHelloSoapIn">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="SayHelloSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="SquarerootSoapIn">
    <wsdl:part name="parameters" element="tns:Squareroot" />
  </wsdl:message>
  <wsdl:message name="SquarerootSoapOut">
    <wsdl:part name="parameters" element="tns:SquarerootResponse" />
  </wsdl:message>
  <wsdl:portType name="WebInfiniteServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloSoapIn" />
      <wsdl:output message="tns:SayHelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Squareroot">
      <wsdl:input message="tns:SquarerootSoapIn" />
      <wsdl:output message="tns:SquarerootSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebInfiniteServiceSoap" type="tns:WebInfiniteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Squareroot">
      <soap:operation soapAction="http://tempuri.org/Squareroot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebInfiniteServiceSoap12" type="tns:WebInfiniteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="http://tempuri.org/SayHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Squareroot">
      <soap12:operation soapAction="http://tempuri.org/Squareroot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebInfiniteService">
    <wsdl:port name="WebInfiniteServiceSoap" binding="tns:WebInfiniteServiceSoap">
      <soap:address location="https://localhost:44324/WebInfiniteService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebInfiniteServiceSoap12" binding="tns:WebInfiniteServiceSoap12">
      <soap12:address location="https://localhost:44324/WebInfiniteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>